@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@page {
	size: auto;
}

body {
	font-family: "Arial", sans-serif;
}

.icon, .menu, .button, .tooltip, .tooltip .tooltiptext, input, .filter-list-item:not(.selected), .card-title-collapse, .no-print {
	display: none;
}

#page-container {
	display: block;
	width: 100%;
}

#title-container {
	display: block;
	height: auto;
	text-align: center;
	position: relative;
	margin-bottom: 2em;
}

#title-name {
	font-family: 'Lora', 'Times New Roman', serif;
	font-size: 24px;
	margin: 10px;
	float: left;
	text-align: left;
}

#title-link-this, #title-link-print-linkedin {
	height: 100%;
	text-align: right;
}

/* Container Headings */
#education-container:before {
	content: "Education";
}

#experience-container:before {
	content: "Experience";
}

#activities-container:before {
	content: "Activities";
}

#projects-container:before {
	content: "Projects";
}

#education-container:before, #experience-container:before, #activities-container:before, #projects-container:before {
	font-weight: bold;
	font-size: 1.5em;
	font-variant: small-caps;
}

#education-container, #experience-container, #projects-container {
	margin-bottom: 2em;
}

.education .card-title {
	width: 40%;
}

.exp-section-title {
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}

#experience-container .card-title-text, #activities-container .card-title-text, #projects-container .card-title-text {
	display: none;
}

#education-container .card-title-text {
	margin: 0.1em 0 0.1em 0;
	display: inline-block;
}

.filter-list-item.selected {
	list-style: none;
	display: inline-block;
}

.filter-list-item.selected:before {
	content: "Tags:";
	margin-right: 1em;
}

.filter-list-item.selected ~ .filter-list-item.selected:before {
	content: ",";
	margin-right: 0.5em;
}

.resume-section-container {
	width: 100%;
}

.card {
	background-color: white;
	display: flex;
	height: auto;
	
	margin: 0px 0px 0px 10px;
	padding: 3px 0px 2px 0px;
	width: 90%;
}

.section-body.education .card-row {
	display: inline-block;
	font-weight: normal;
	width: auto;
}

.card-flex-container {
	display: inline-block;
	height: 100%;
	overflow: auto;
	width: 95%;
}

.card-row {
	display: inline-flex;
	width: 100%;
}

.education.card span {
	font-family: Georgia;
	height: 30%;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
}

.edu-org:after {
	content: ", ";
}

.edu-deg:after {
	content: ",";
	margin-right: 5px;
}

.edu-yr {
	float: right;
}

.experience.card .exp-desc, .projects.card, .experience.card, .activities.card {
	height: auto;
	vertical-align: middle;
	white-space: normal;
}

.projects.card .card-row:before, .experience.card .card-row:before, .activities.card .card-row:before {
	display: inline-block;
	height: 100%;
	margin-right: 6px;
	vertical-align: middle;
}

.experience.card .card-row:before {
	content: "\2022";
}

.projects.card .card-row:before {
	content: "\25A0";
	font-size: small;
}

.activities.card .card-row:before {
	content: "\25CB";
	font-size: small;
}

.projects.card {
	font-family: Georgia, sans-serif;
	font-size: smaller;
}

.activities.card {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-size: smaller;
}

.section-title {
	border-top: 1px solid black;
	border-bottom: 0.5px solid black;
	font-family: Georgia;
	font-size: 110%;
	font-variant: small-caps;
	margin: 0px 0px 4px 0px;
	padding: 2px 0px 2px 0px;
	width: 100%;
}

.section-title, .section-body {
	margin-top: 5px;
}

.exp-desc {
	font-size: smaller;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.csr-p {
	cursor: pointer;
	cursor: hand;
}

.f-w-b {
	font-weight: bold;
}