@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@page {
	size: auto;
}

body {
	font-family: "Arial", sans-serif;
}

.icon, .menu, .button, .tooltip, .tooltip .tooltiptext, input, #fs-clear-filters, #fs-clear-filters:after, #title-filter-menu, #title-help, #title-goto, #welcome-container {
	display: none;
}

#page-container {
	display: block;
	width: 100%;
}

#title-container {
	display: block;
	height: auto;
	text-align: center;
	position: relative;
}

#title-name {
	font-family: 'Lora', serif;
	font-size: 24px;
	margin: 10px;
	float: left;
	text-align: left;
}

#title-filter-menu, #title-help, #title-goto {
	height: 0;
}

#title-link-this, #title-link-print-linkedin {
	/*float: right;*/
	height: 100%;
	text-align: right;
}

#title-link-print-linkedin {
	clear: right;
}

/* Filter Menu */
#filter-menu {
	display: block !important;
	font-family: 'Lora', 'sans-serif';
	margin-top: 1em;
}

.category-name-container, .filter-menu-item:not(.selected), #filter-search {
	display: none;
}

#side-menu-title {
	display: inline-block;
	font-weight: bold;
	text-transform: capitalize;
}

#side-menu-title:before {
	content: "Selected ";
}

#side-menu-title:after {
	content: ": ";
}

.filter-category, .filter-menu-item.selected {
	display: inline-block;
}

.filter-menu-item.selected {
	margin-left: 0.4em;
}

.filter-menu-item.selected:after {
	content: " | "
}
/* End Filter Menu */

#resume {
	background-color: white;
	clear: both;
	display: block !important;
	height: auto;
	width: 100%;
}

.resume-section-container {
	width: 100%;
}

.exp-org-card {
	margin: 0px 0px 10px 10px;
}

.exp-org-card-title {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 90%;
	font-weight: bold;
	padding: 0px 0px 2px 0px;
}

.card {
	background-color: white;
	display: inline-block;
	height: auto;
	
	margin: 0px 0px 0px 10px;
	padding: 3px 0px 2px 0px;
	width: 90%;
}

.section-body.education .card-row {
	display: inline-block;
	font-weight: normal;
	width: auto;
}

.card-flex-container {
	display: inline-block;
	height: 100%;
	overflow: auto;
	width: 95%;
}

.card-row {
	display: inline-flex;
	width: 100%;
}

.education.card span {
	font-family: Georgia;
	height: 30%;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
}

.edu-org:after {
	content: ", ";
}

.edu-yr:after {
	content: ":";
	margin-right: 5px;
}

.experience.card .exp-desc, .projects.card, .experience.card, .activities.card {
	height: auto;
	vertical-align: middle;
	white-space: normal;
}

.projects.card .card-row:before, .experience.card .card-row:before, .activities.card .card-row:before {
	display: inline-block;
	height: 100%;
	margin-right: 6px;
	vertical-align: middle;
}

.experience.card .card-row:before {
	content: "\2022";
}

.projects.card .card-row:before {
	content: "\25A0";
	font-size: small;
}

.activities.card .card-row:before {
	content: "\25CB";
	font-size: small;
}

.projects.card {
	font-family: Georgia, sans-serif;
	font-size: smaller;
}

.activities.card {
	font-family: 'Roboto', sans-serif;
	font-size: smaller;
}

.section-title {
	border-top: 1px solid black;
	border-bottom: 0.5px solid black;
	font-family: Georgia;
	font-size: 110%;
	font-variant: small-caps;
	margin: 0px 0px 4px 0px;
	padding: 2px 0px 2px 0px;
	width: 100%;
}

.section-title, .section-body {
	margin-top: 5px;
}

.exp-desc {
	font-size: smaller;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.disp-ib {
	display: inline-block;
}

.csr-p {
	cursor: pointer;
	cursor: hand;
}

.clr-gray {
	color: #c0c0c0;
}

.f-w-b {
	font-weight: bold;
}
