/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Bitter');


@supports (--css: variables) {
	:root {
		/* Color variables */
		--blue: #0074D9;
		--silver: #DDDDDD;

		/* Theme 02 from https://www.canva.com/learn/website-color-schemes/ */
		--night: #262228;

		/* Theme 20 from https://www.canva.com/learn/website-color-schemes/ */
		--feather: #77C9D4;
		--marine: #57BC90;
		--forest: #015249;
		--sleekgrey: #A5A5AF;
	
		/* Size variables */	
		--gap: 2em;
		--title-height: 8vh;
		--menu-height: 8vh;
		--section-width: calc(100vw - 3 * var(--gap));
		--section-height: calc(100vh - 2 * var(--gap) - var(--title-height));
		--slide-move: calc(var(--section-width) + var(--gap));
		--num-sections: 8;
		--mobile-nav-ht: 4em;
		--mobile-nav-main-ht: calc(100vh - var(--title-height) - var(--mobile-nav-ht));
		
		/* SVG styling */
		--main-svg-color: white;
		
		--transition-transform-function: ease;
	}
}

/* Size dependent styles */

/* Mobile or small width screens */
@media screen and (max-width : 800px) {
	
	#title-container {
		font-size: 1em;
	}
	
	#title-name {
		font-size: 0.75em;
		max-height: 1.2em;
	}
	
	.mobile-hide {
		display: none;
	}
	
	#nav-container {
		font-size: 0.93em;
		position: absolute;
		z-index: 21;
	}
	
	#welcome-title {
		font-size: 2em;
		margin-bottom: 0.5em;
	}
	
	#welcome-title-welcome, #welcome-title-resume {
		font-size: 0.85em;
		display: block;		/* separate lines for each */
	}
	
	.welcome-steps {
		padding-left: 0em;
	}
	
	#main-help {
		margin: 0;
		padding-bottom: 4em;
	}
	
	.resume-section-container:last-child {
		padding-bottom: 3em;
	}
	
	#left-nav-arrow-wrapper:before, #right-nav-arrow-wrapper:after {
		padding: 10px;
		border-width: 0 7px 7px 0;
		top: 30vh;
	}
	
	#mobileErrorMessage {
		box-sizing: border-box;
		padding: 2em 2em 2em 2em;
		width: 100%;
	}

	#main-nav {
		padding: 0 1em 1em 1em;
		
		/* Flex */
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-line-pack: center;
		align-content: center;
	}
	
	.main-nav-item {
		font-size: 0.8em;
		margin: 1em 0.25em 1em 0.25em;
		color: white;
	}

	.main-nav-item.selected {
		background-color: white;
	}

	.main-nav-link div {
		color: white;
		font-size: 1.1em;
		line-height: 1.5em;
		text-align: center;
		width: 100%;
	}
	
	.page {
		padding: 0em 1em 0.5em 1em;
	}
	
	.section-body {
		margin: 10px 2px 15px 5px;
	}
	
	.resume-filter-list {
		margin: 0 0.5em 0 0.5em;
		width: 90%;
	}
	
	.filter-list-item {
		padding: 0.25em;
		margin: 0.1em 0.5em 0.1em 0.5em;
	}
	
	.edu-deg {
		padding-left: 1em;
	}
	
	.card {
		margin: 0.25em;
		margin-bottom: 0.5em;
	}
	
	.card-row ul {
		padding-left: 1em;
	}
	
	.card-transition-container {
		width: 90%;
	}
	
	.icon-card {
		width: 20vh;
		height: 20vh;
		margin: 0.25em;
	}
	
	#actions-container .card-container {
		padding-top: 1em;
	}
	
	#mobile-nav-bar {
		width: 100%;
		z-index: 22;
		
		/* Flex */
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	
	#mobile-print-icon {
		width: 2.2em;
		height: 2.2em;
	}
	
	#mobile-nav-bar .print.icon {
		width: 100%;
		height: 100%;
	}
	
	.menu-control-btn {
		/* define CSS variable here for height and line-height */
		border-radius: 100%;
		
		width: 2.5em;
		font-size: 2.5em;
		line-height: 2.5em;
		
		text-align: center;
		-ms-flex-item-align: end;
		align-self: flex-end;
		font-weight: bold;
	}
	
	#mobile-linkedin-icon img {
		height: 2.2em;
		width: 2.2em;
	}
	
	.setting-wrapper {
		width: 85%;
	}
		
	#nav-container {
		background-color: #57BC90;
		height: 82.5vh;
	}
	
	#left-nav-arrow-wrapper:before {
		left: 4px;
	}

	#right-nav-arrow-wrapper:after {
		right: 4px;
	}

	#left-nav-arrow-wrapper, #right-nav-arrow-wrapper {
		width: 2em;
	}
	
	#main-page {
		width: 772vw;
	}
	
	#main-page-container {
		padding-left: 2vw;
		padding-right: 2vw;
		width: 772vw;
	}
	
	.page {
		margin-right: 1vw;
		margin-left: 1vw;
		width: 94vw;
	}

	.main-nav-item {
		width: 16vh;
		height: 16vh;
		line-height: 16vh;
		
		background-color: #015249;
		
		-webkit-transition: -webkit-transform 0.4s;
		transition: -webkit-transform 0.4s;
		-o-transition: transform 0.4s;
		transition: transform 0.4s;
		transition: transform 0.4s, -webkit-transform 0.4s;
	}
	
	.main-nav-item:hover {
		-ms-transform: scale( 1.1 );
		-webkit-transform: scale( 1.1 );
		transform: scale( 1.1 );
	}

	.main-nav-item.selected div {
		color: #015249;
	}

	#mobile-nav-bar {
		background-color: #015249;
		height: 10vh;
	}

	#mobile-nav-bar .print.icon {
		fill: transparent;
		stroke: white;
	}
	
	.menu-control-btn {
		background-color: #77C9D4;
		border: 2px solid #015249;
	}
	
	@supports (transform: translateX(1px)) {
		/** Unsupported in Opera Mini **/
		
		/* Translation for mobile - Microsoft Edge, Android Chrome, and Android Opera Mini all have issues with multiple calc() functions chained in variables */
		:target ~ #mpc-wrapper > #main-page-container, #welcome:target ~ #mpc-wrapper > #main-page-container { 
			-webkit-transform: translate3d( 0, 0, 0 );
			transform: translate3d( 0, 0, 0);
		}
		#education:target ~ #mpc-wrapper > #main-page-container {
			-webkit-transform: translate3d( -96vw, 0, 0 );
			transform: translate3d( -96vw, 0, 0 );
		}
		#experience:target ~ #mpc-wrapper > #main-page-container {
			-webkit-transform: translate3d( -192vw, 0, 0 );
			transform: translate3d( -192vw, 0, 0);
		}
		#projects:target ~ #mpc-wrapper > #main-page-container {
			-webkit-transform: translate3d( -288vw, 0, 0 );
			transform: translate3d( -288vw, 0, 0);
		}
		#activities:target ~ #mpc-wrapper > #main-page-container {
			-webkit-transform: translate3d( -384vw, 0, 0 );
			transform: translate3d( -384vw, 0, 0);
		}
		#resume:target ~ #mpc-wrapper > #main-page-container {
			-webkit-transform: translate3d( -480vw, 0, 0 );
			transform: translate3d( -480vw, 0, 0);
		}
		#actions:target ~ #mpc-wrapper > #main-page-container {
			-webkit-transform: translate3d( -576vw, 0, 0 );
			transform: translate3d( -576vw, 0, 0);
		}
		#settings:target ~ #mpc-wrapper > #main-page-container {
			-webkit-transform: translate3d( -672vw, 0, 0 );
			transform: translate3d( -672vw, 0, 0);
		}
	}

	@supports (--css: variables) and (not (-ms-ime-align: auto)) {

		#nav-container {
			background-color: var(--marine);
		}

		.main-nav-item {
			background-color: var(--forest);
		}
		
		.main-nav-item:hover {
			--transform-scale: 1.1;
		}

		.main-nav-item.selected div {
			color: var(--forest);
		}

		#mobile-nav-bar {
			--main-svg-color: white;
			background-color: var(--forest);
		}

		#mobile-nav-bar .print.icon {
			--main-svg-color: white;
			--button-color: white;
		}
		
		.menu-control-btn {
			background-color: var(--feather);
			border: 2px solid var(--forest);
		}

	}
}

/* Desktop or laptop */
@media only screen and (min-width : 800px) {
	
	#title-container {
		font-size: 2em;
	}
	
	#nav-container {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		height: 3em;
	}
		
	#main-nav {
		/* Flexbox */
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	
	.main-nav-item {
		font-size: 1.2em;
		margin: 0.5em 0.75em 0.5em 0.75em;
	}
	
	.main-nav-item:hover {
		transition: border 0.1s;
	}

	#left-nav-arrow-wrapper:before, #right-nav-arrow-wrapper:after {
		padding: 16px;
		border-width: 0 10px 10px 0;
		top: 4em;
	}

	#title-name {
		height: 1.5em;
		max-height: 2em;
		font-size: 1em;
	}
	
	#welcome-title {
		font-size: 3em;
		margin-bottom: 1em;
	}
	
	#main-help {
		margin: 0 6em 0 6em;
	}

	.section-body {
		margin: 10px 10px 5px 0px;
	}
	
	.resume-filter-list {
		border-radius: 20px;
	}
	
	.filter-list-item {
		padding: 0.25em;
		margin: 0.25em 1em 0.25em 1em;
	}
	
	.card-transition-container {
		padding: 10px 0 10px 0;
		width: 45%;
	}
	
	#actions-container .card-container {
		-ms-flex-line-pack: distribute;
		align-content: space-around;
	}
	
	.icon-card {
		width: 8em;
		height: 8em;
		margin: 1em;
	}

	#mobile-nav-bar {
		display: none;
	}
	
	@supports (not (--css: variables)) or (-ms-ime-align: auto) {
	
		#nav-container {
			background-color: white;
			border-bottom: 3px solid #015249;
		}
		
		.main-nav-item:hover {
			-ms-transform: scale( 1.05 );
			-webkit-transform: scale( 1.05 );
			transform: scale( 1.05 );
			
			-webkit-transition: -webkit-transform 0.4s;
			transition: -webkit-transform 0.4s;
			-o-transition: transform 0.4s;
			transition: transform 0.4s;
			transition: transform 0.4s, -webkit-transform 0.4s;
			border-top: 3px solid #015249;
		}
		
		.main-nav-item.selected .main-nav-link {
			color: #015249;
			border-bottom: 3px solid #015249;
		}
		
		#left-nav-arrow-wrapper, #right-nav-arrow-wrapper {
			width: 4em;
		}
		
		#left-nav-arrow-wrapper:before {
			left: 10px;
		}

		#right-nav-arrow-wrapper:after {
			right: 10px;
		}
		
		#main-page {
			width: 688vw;
		}
		
		#main-page-container {
			padding-left: 8vw;
			padding-right: 8vw;
			width: 688vw;
		}
		
		.page {
			margin-right: 2vw;
			margin-left: 2vw;
			width: 80vw;
		}

		.resume-filter-list {
			border: 1.5px solid #015249;
		}
		
		@supports (transform: translateX(1px)) {
			/** Unsupported in Opera Mini **/
		
			/* Translation for desktop - Microsoft Edge has issues with multiple calc() functions chained in variables */
			:target ~ #mpc-wrapper > #main-page-container, #welcome:target ~ #mpc-wrapper > #main-page-container { 
				-webkit-transform: translate3d( 0, 0, 0 );
				transform: translate3d( 0, 0, 0);
			}
			#education:target ~ #mpc-wrapper > #main-page-container {
				-webkit-transform: translate3d( -84vw, 0, 0 );
				transform: translate3d( -84vw, 0, 0);
			}
			#experience:target ~ #mpc-wrapper > #main-page-container {
				-webkit-transform: translate3d( -168vw, 0, 0 );
				transform: translate3d( -168vw, 0, 0);
			}
			#projects:target ~ #mpc-wrapper > #main-page-container {
				-webkit-transform: translate3d( -252vw, 0, 0 );
				transform: translate3d( -252vw, 0, 0);
			}
			#activities:target ~ #mpc-wrapper > #main-page-container {
				-webkit-transform: translate3d( -336vw, 0, 0 );
				transform: translate3d( -336vw, 0, 0);
			}
			#resume:target ~ #mpc-wrapper > #main-page-container {
				-webkit-transform: translate3d( -420vw, 0, 0 );
				transform: translate3d( -420vw, 0, 0);
			}
			#actions:target ~ #mpc-wrapper > #main-page-container {
				-webkit-transform: translate3d( -504vw, 0, 0 );
				transform: translate3d( -504vw, 0, 0);
			}
			#settings:target ~ #mpc-wrapper > #main-page-container {
				-webkit-transform: translate3d( -588vw, 0, 0 );
				transform: translate3d( -588vw, 0, 0);
			}
		}
	}
	
	@supports (--css: variables) and (not (-ms-ime-align: auto)) {
		
		#nav-container {
			background-color: white;
			border-bottom: 3px solid var(--forest);
		}
		
		.main-nav-item:hover {
			--transform-scale: 1.05;
			--transition-transform-duration: 0.4s;
			
			border-top: 3px solid var(--forest);
		}
		
		.main-nav-item.selected .main-nav-link {
			color: var(--forest);
			border-bottom: 3px solid var(--forest);
		}
		
		#left-nav-arrow-wrapper, #right-nav-arrow-wrapper {
			width: calc(2 * var(--gap));
		}
		
		#left-nav-arrow-wrapper:before {
			left: var(--arrow-side-offset);
		}

		#right-nav-arrow-wrapper:after {
			right: var(--arrow-side-offset);
		}
		
		#main-page-container {
			--padded: calc(2*var(--gap));
			padding-left: var(--padded);
			padding-right: var(--padded);
		}
		
		#mpc-wrapper {
			--arrow-side-offset: 10px;
		}

		.resume-filter-list {
			border: 1.5px solid var(--forest);
		}
		
		.page {
			width: var(--section-width);
			margin-right: calc(var(--page-margin)/2);
			margin-left: calc(var(--page-margin)/2);
		}
		
		@supports (transform: translateX(1px)) {
			:target ~ #mpc-wrapper > #main-page-container, #welcome:target ~ #mpc-wrapper > #main-page-container { --translate-x: 0; }
			#education:target ~ #mpc-wrapper > #main-page-container { --translate-x: calc(-1 * var(--slide-move) ); }
			#experience:target ~ #mpc-wrapper > #main-page-container { --translate-x: calc(-2 * var(--slide-move) ); }
			#projects:target ~ #mpc-wrapper > #main-page-container { --translate-x: calc(-3 * var(--slide-move) ); }
			#activities:target ~ #mpc-wrapper > #main-page-container { --translate-x: calc(-4 * var(--slide-move) ); }
			#resume:target ~ #mpc-wrapper > #main-page-container { --translate-x: calc(-5 * var(--slide-move) ); }
			#actions:target ~ #mpc-wrapper > #main-page-container {	--translate-x: calc(-6 * var(--slide-move) ); }
			#settings:target ~ #mpc-wrapper > #main-page-container { --translate-x: calc(-7 * var(--slide-move) ); }
		}
	}
}

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	font-family: "Arial", sans-serif;
}

::-webkit-scrollbar {
    width: 0.75em;
}
 
::-webkit-scrollbar-track {
	border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	background-color: gray;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.icon {
	cursor: pointer;
	cursor: hand;
	vertical-align: middle;
}

.icon:before {
	line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
	vertical-align: middle;
}

[tooltip] {
	position: relative;
}

[tooltip]:after {
    content: attr(tooltip);
    position: absolute;
	visibility: hidden;
	font-size: 1em;
    padding: 0.5em;
	color: white;
	text-align: center;
	z-index: 999;
    border-radius: 4px;
	pointer-events: none;
}

[tooltip][tooltip-left]:after {
	right: 120%;
}

[tooltip][tooltip-bottom]:after {
	right: 0em;
	top: 150%;
}

[tooltip][tooltip-right]:after {
	left: 120%;
}

[tooltip]:hover:after {
	visibility: visible;
	width: auto;
}

.button {
	cursor: pointer;
	cursor: hand;
	padding: 0.2em 0.4em 0.2em 0.4em;
	text-align: center;
}

.button:focus {
	outline: 0;
}

.print-only {
	display: none;
}

#loading-container {
	text-align: center;
	
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: 1000;
}

#load-screen {
	font-family: 'Inconsolata', 'Helvetica', sans-serif;
	font-size: 1em;
	padding-top: 40vh;
	text-align: center;
	position: absolute;
	height: 100vh;
	width: 100vw;
}

#load-text {
	position: relative;
}

#load-text::before, #load-text::after {
	content: '';
	border-top: 2px solid;
	border-bottom: 2px solid;
	position: absolute;
	border-radius: 100%;
	
	-webkit-animation: full-spin 2s infinite;
	animation: full-spin 2s infinite;
}

#load-text::before {
	height: 8em;
	width: 8em;
	left: -1.5em;
	top: -3.5em;
	animation-timing-function: ease-out;
}

#load-text::after {
	height: 9em;
	width: 9em;
	left: -2em;
	top: -4em;
	animation-timing-function: ease-in;
}

#title-container {
	box-sizing: border-box;
	color: white;
	font-size: 2em;
	margin: 0em;
	padding: 0.2em 0.5em 0.2em 0.5em;
	
	/* Flexbox parent */
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
    -ms-flex-align: stretch;
	align-items: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	
	/* Flexbox child */
	-webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

#title-name {
	font-family: 'Inconsolata', 'Helvetica', sans-serif;
	margin: auto;
}

#title-icon-container {
	display: none;
}

#left-nav-arrow-wrapper:before, #right-nav-arrow-wrapper:after {
	content: "";
	border-style: solid;
	display: inline-block;
	vertical-align: middle;
	position: absolute;

	line-height: normal;
	margin: 0.7em;
	z-index: -1;
}

#left-nav-arrow-wrapper:before {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

#right-nav-arrow-wrapper:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#page-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
	/* Flexbox */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
    -ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
    -ms-flex-align: stretch;
	align-items: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
}

#main-help {
	/* Flexbox */
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
	justify-content: space-between;
}

#profile-photo-container {
	margin-bottom: 1em;
	
	/* Flexbox */
	-webkit-box-pack: center;
    -ms-flex-pack: center;
	justify-content: center;
}

#actions-container {
	/* Flexbox */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: stretch;
    -ms-flex-align: stretch;
	align-items: stretch;
}

#actions-container .card-container {
	/* Flexbox */
	-ms-flex-pack: distribute;
    justify-content: space-around;
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
}

.card-container {
	/* Flexbox */
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%;
}

.card-transition-container:empty {
	display: none;
}

.icon-card {
	text-align: center;
	
	/* Flexbox */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
    justify-content: space-around;
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
	
	padding: 0.5em;
	text-decoration: none;
}

.icon-card .icon {
	height: 3em;
	width: 3em;
}

.icon-card-text {
	text-align: center;
}

.icon-card:hover .icon.gear {
	-webkit-animation: full-spin 10s infinite;
	animation: full-spin 10s infinite;
}

@keyframes full-spin {
	0% {}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes full-spin {
	0% {}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#nav-container {
	font-weight: bold;
	font-family: 'Roboto', Helvetica, sans-serif;
	width: 100%;
}

#main-nav {
	-ms-flex-pack: distribute;
    justify-content: space-around;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-nav-link {
	height: 100%;
	width: 100%;
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
	text-decoration: none;
}

#main-container {
	
	width: 100%;
	overflow-y: auto;
	
	/* Flexbox child css */
	-webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
	flex: 1 1 auto;
	
	/* Flex parent css */
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: stretch;
    -ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-direction: column;
	flex-direction: column;
}

#main-page {
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
	flex: 1 1 auto;		/* Flexbox child css */

	background-color: white;
}

.proxy-anchor {
	display: none;
}

#arrow-nav-container {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: stretch;
    -ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	background: transparent;
	
	position: fixed;
	left: 0;
}

#left-nav-arrow-wrapper, #right-nav-arrow-wrapper {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 100%;
	-webkit-box-align: stretch;
    -ms-flex-align: stretch;
	align-items: stretch;
	position: absolute;
	z-index: 17;
}

#left-nav-arrow-wrapper {left: 0;}
#right-nav-arrow-wrapper {right: 0;}

#left-nav-arrow, #right-nav-arrow {
	width: 100%;
	-webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

#mpc-wrapper {
	background: var(--sleekgrey);
	overflow-x: hidden;
	overflow-y: hidden;
}

#main-page-container {
	/* Flexbox */
	-webkit-box-align: stretch;
    -ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: center;
    -ms-flex-pack: center;
	justify-content: center;

	box-sizing: border-box;
}

.page {
	background: white;
	overflow-y: auto;
	overflow-x: hidden;

	-webkit-box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);	
	box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
	box-sizing: border-box;

}

/* Shrinks section(s) that are off the side */
:target ~ #mpc-wrapper > #main-page-container > .page:not(#welcome-container), 
#welcome:target ~ #mpc-wrapper > #main-page-container > .page:not(#welcome-container), 
#resume:target ~ #mpc-wrapper > #main-page-container > .page:not(#resume-container), 
#education:target ~ #mpc-wrapper > #main-page-container > .page:not(#education-container), 
#experience:target ~ #mpc-wrapper > #main-page-container > .page:not(#experience-container), 
#projects:target ~ #mpc-wrapper > #main-page-container > .page:not(#projects-container), 
#activities:target ~ #mpc-wrapper > #main-page-container > .page:not(#activities-container), 
#actions:target ~ #mpc-wrapper > #main-page-container > .page:not(#actions-container), 
#settings:target ~ #mpc-wrapper > #main-page-container > .page:not(#settings-container) {
	opacity: 0.5;
}

/* Restores target section to full opacity */
:target ~ #mpc-wrapper > #main-page-container > #welcome-container.page, 
#welcome:target ~ #mpc-wrapper > #main-page-container > #welcome-container.page, 
#resume:target ~ #mpc-wrapper > #main-page-container > #resume-container.page, 
#education:target ~ #mpc-wrapper > #main-page-container > #education-container.page, 
#experience:target ~ #mpc-wrapper > #main-page-container > #experience-container.page, 
#projects:target ~ #mpc-wrapper > #main-page-container > #projects-container.page, 
#activities:target ~ #mpc-wrapper > #main-page-container > #activities-container.page, 
#actions:target ~ #mpc-wrapper > #main-page-container > #actions-container.page, 
#settings:target ~ #mpc-wrapper > #main-page-container > #settings-container.page { 
	opacity: 1;	
}

.resume-filter-list {
	list-style: none;
	margin: 0;
	max-height: 40%;
	padding-left: 0;
	
	/* Flexbox */
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
    -ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: stretch;
    -ms-flex-align: stretch;
	align-items: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
}

.resume-filter-list.filter-list-all {
	border: 0px solid transparent;
	border-radius: 0px;
}

.filter-list-item {
	transition: margin 0.5s, background-color 0.5s;

	text-align: center;
	
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-weight: bold;
	
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

.filter-list-item:hover {
	font-weight: bold;
}

.resume-filter-list.filter-list-all .filter-list-item {
	font-weight: bold;
}

.resume-filter-list.filter-list-all .filter-list-item:hover {
	border-top: 4px solid transparent;
}

.resume-filter-list .selected.filter-list-item {
	color: white;
	text-align: center;
}

.filter-list-title {
	background-color: transparent;
	font-weight: bold;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.section-body {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%;
}

#welcome-container {
	font-family: 'Roboto', Helvetica, sans-serif;
}

#welcome-container .card .card-title-collapse {
	display: none;
}

#welcome-container .card a {
	text-decoration: none;
}

#welcome-title {
	font-family: 'Lora', Helvetica, sans-serif;
	margin-bottom: 0.25em;
	padding-top: 0.5em;
	text-align: center;
}

.welcome-intro {
	-webkit-box-pack: center;
    -ms-flex-pack: center;
	justify-content: center;
}

#personal-intro, .welcome-intro > span, #intro-desc {
	display: table;
	margin: 0 auto;
	text-align: center;
}

#personal-intro {
	margin-bottom: 1em;
}

.welcome-steps {
	list-style: none;
	padding-bottom: 10px;
	padding-left: 0;
}

.welcome-step-desc {
	font-weight: bold;
}

.welcome-steps li {
	line-height: 30px;
	padding: 5px;
}

.resume-container-title {
	border-width: 3px 0px 0px 0px;
	border-style: solid;
	border-image: linear-gradient(to right, transparent, black 50%, transparent 100%);
	border-image-slice: 1;
	font-family: Roboto, sans-serif;
	padding: 0.5em 0 0 0;
	text-align: center;
}

.resume-container-title:first-child {
	border-top: 0px solid transparent;
}

.resume-section-container {
	background-color: inherit;
	width: 100%;
	margin-bottom: 1em;
	padding-top: 1em;
	
	/* Flexbox */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
}

.exp-section-title {
	font-family: 'Bitter', 'Times New Roman', serif;
}

.card {
	background-color: white;
	border-radius: 0.2em;
	box-sizing: border-box;
	font-size: smaller;
	overflow: hidden;
	transition: width 1s, color 0.5s, background-color 0.5s;
	min-width: 220px;
	width: 100%;
	
	/* Flexbox */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: stretch;
    -ms-flex-align: stretch;
	align-items: stretch;
}

.card-title {
	color: white;
	padding: 0.5em 1em 0.5em 1em;
	
	/* Flexbox */
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
	justify-content: space-between;
}

.card-title-text {
	font-family: 'Bitter', 'Times New Roman', serif;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
}

.card.hovering {
	transition: background-color 0.5s, border-color 0.5s;
}

.card.hovering .card-title {
	transition: background-color 0.5s;
}

.card.hovering .card-flex-container {
	color: white;
}

.experience.card {
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

.card-expand-text {
	font-size: 1.2em;
}

.card-flex-container {
	font-size: 1.1em;
	padding: 1em;
	
	/* Flex-box parent */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: center;
    -ms-flex-pack: center;
	justify-content: center;
}

.card-row {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	width: 100%;
	
	/* Flex-box parent */
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: left;
    -ms-flex-pack: left;
	justify-content: left;
}

.education .card-row {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.collapse-icon-svg {
	padding: 0.4em;
	border: 2px solid white;
	border-radius: 100%;
	margin-right: 1em;
}

#settings-menu-container {
	width: 100%;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
	-ms-flex-pack: distribute;
    justify-content: space-around;
}

#reset-default-settings {
	background: transparent;
	border: 0px solid transparent;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 2em;
	width: 10em;
}

.setting-wrapper {
	font-size: 1em;
	margin: 5px 0px 2px 0px;
	padding: 10px 0px 15px 0px;
	text-align: left;
}

.setting-wrapper ul {
	font-size: 0.9em;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	width: 100%;
}

.setting-wrapper li {
	display: block;
	float: left;
	position: relative;
	height: 30px;
	width: 100%;
}

.setting-wrapper li input[type=radio]{
	position: absolute;
	visibility: hidden;
}

.setting-wrapper li label{
	cursor: pointer;
	cursor: hand;
	display: block;
	font-size: 1em;
	height: 2em;
	line-height: 2em;
	padding-left: 3.5em;
	position: relative;
	transition: color 0.25s linear;
	-webkit-transition: color 0.25s linear;
	z-index: 3;
}

.setting-wrapper li .check {
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 100%;
	height: 17px;
	width: 17px;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.setting-wrapper li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 11px;
	width: 11px;
	top: 3px;
	left: 3px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.settings.heading {
	display: block;
	font-size: 1em;
	margin-bottom: 0.5em;
}

.radio-wrapper {
	display: block;
}

label.settings {
	font-size: small;
}

.disp-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.csr-p {
	cursor: pointer;
	cursor: hand;
}

.f-w-b {
	font-weight: bold;
}

/* Vue transition classes */
.fading-enter, .fading-leave-to {
	opacity: 0;
}

.fading-enter-active, .fading-leave-active {
	transition: opacity 0.5s ease-in-out;
}

.fading-longer-enter, .fading-longer-leave-to {
	opacity: 0;
}

.fading-longer-enter-active, .fading-longer-leave-active {
	transition: opacity 1s ease-in-out;
}

@supports (not (--css: variables)) or (-ms-ime-align: auto) {

	::-webkit-scrollbar-track {
		background-color: #A5A5AF;
	}

	[tooltip]:after {
		background-color: #262228;
	}
	
	#load-screen {
		background-color: #57BC90;
	}
	
	#load-text::before {
		border-color: #0074D9;
	}
	
	#load-text::after {
		border-color: #262228;
	}

	#title-container {
		background-color: #262228;
		height: 8vh;
	}

	#left-nav-arrow-wrapper:before, #right-nav-arrow-wrapper:after {
		border-color: #262228;
	}

	#profile-photo-container {
		height: 25vh;
	}

	#profile-photo {
		width: 25.7425vh;
	}

	.icon-card {
		background-color: #77C9D4;
		color: #015249;
		
		-webkit-transition: -webkit-transform 0.5s;
		transition: -webkit-transform 0.5s;
		-o-transition: transform 0.5s;
		transition: transform 0.5s;
		transition: transform 0.5s, -webkit-transform 0.5s;
	}

	.icon-card:hover {
		-ms-transform: scale( 1.15 );
		-webkit-transform: scale( 1.15 );
		transform: scale( 1.15 );
	}

	.img-icon {
		height: 40%;
		width: 40%;
	}

	#nav-container {
		background-color: #57BC90;
	}

	.main-nav-link {
		color: #262228;
	}

	#main-container {
		background-color: #A5A5AF;
	}

	#mpc-wrapper {
		background: #A5A5AF;
	}

	#main-page-container {
		background-color: #DDDDDD;
		
		-webkit-transition: -webkit-transform 0.7s ease-in-out, opacity 1s;
		transition: -webkit-transform 0.7s ease-in-out, opacity 1s;
		-o-transition: transform 0.7s ease-in-out, opacity 1s;
		transition: transform 0.7s ease-in-out, opacity 1s;
		transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out, opacity 1s;
	}

	.page {
		-webkit-transition: -webkit-transform 1s, opacity 1s;
		transition: -webkit-transform 1s, opacity 1s;
		-o-transition: transform 1s, opacity 1s;
		transition: transform 1s, opacity 1s;
		transition: transform 1s, -webkit-transform 1s, opacity 1s;
	}

	#actions-container .icon-card {
		fill: transparent;
		stroke: #015249;
	}

	#actions-container .icon-card .gear.icon {
		fill: #015249;
	}

	/* Shrinks section(s) that are off the side */
	:target ~ #mpc-wrapper > #main-page-container > .page:not(#welcome-container), 
	#welcome:target ~ #mpc-wrapper > #main-page-container > .page:not(#welcome-container), 
	#resume:target ~ #mpc-wrapper > #main-page-container > .page:not(#resume-container), 
	#education:target ~ #mpc-wrapper > #main-page-container > .page:not(#education-container), 
	#experience:target ~ #mpc-wrapper > #main-page-container > .page:not(#experience-container), 
	#projects:target ~ #mpc-wrapper > #main-page-container > .page:not(#projects-container), 
	#activities:target ~ #mpc-wrapper > #main-page-container > .page:not(#activities-container), 
	#actions:target ~ #mpc-wrapper > #main-page-container > .page:not(#actions-container), 
	#settings:target ~ #mpc-wrapper > #main-page-container > .page:not(#settings-container) { 
		-ms-transform: scale( 0.97 );
		-webkit-transform: scale( 0.97 );
		transform: scale( 0.97 );
	}

	/* Restores target section to full height */
	:target ~ #mpc-wrapper > #main-page-container > #welcome-container.page, 
	#welcome:target ~ #mpc-wrapper > #main-page-container > #welcome-container.page, 
	#resume:target ~ #mpc-wrapper > #main-page-container > #resume-container.page, 
	#education:target ~ #mpc-wrapper > #main-page-container > #education-container.page, 
	#experience:target ~ #mpc-wrapper > #main-page-container > #experience-container.page, 
	#projects:target ~ #mpc-wrapper > #main-page-container > #projects-container.page, 
	#activities:target ~ #mpc-wrapper > #main-page-container > #activities-container.page, 
	#actions:target ~ #mpc-wrapper > #main-page-container > #actions-container.page, 
	#settings:target ~ #mpc-wrapper > #main-page-container > #settings-container.page { 
		-ms-transform: scale( 1 );
		-webkit-transform: scale( 1 );
		transform: scale( 1 );
	}

	.resume-filter-list.filter-list-all {
		border-top: 4px solid #A5A5AF;
	}

	.filter-list-item {
		color: #015249;
	}

	.filter-list-item:hover {
		border-top: 4px solid #015249;
	}

	.resume-filter-list.filter-list-all .filter-list-item {
		color: #015249;
	}

	.resume-filter-list.filter-list-all .filter-list-item:hover {
		border-bottom: 4px solid #A5A5AF;
	}

	.resume-filter-list .selected.filter-list-item {
		background-color: #015249;
	}

	.welcome-step-desc:not(.note) {
		color: #0074D9;
	}

	.exp-section-title {
		color: #015249;
	}

	.card {
		border: 3px solid #57BC90;
		color: #262228;
	}

	.card-title {
		background-color: #57BC90;
	}

	.card.hovering {
		border-color: #77C9D4;
		background-color: #77C9D4;
	}

	.card.hovering .card-title {
		background-color: #77C9D4;
	}

	.card-flex-container {
		color: #015249;
	}

	.collapse-icon-svg {
		stroke: white;
		width: 1em;
		height: 1em;
	}

	#reset-default-settings {
		color: #262228;
		border-top: 4px solid #A5A5AF;
	}

	.setting-wrapper {
		border-top: 2px solid #262228;
		border-bottom: 2px solid #262228;
	}

	.setting-wrapper li label{
		color: #A5A5AF;
	}

	.setting-wrapper li .check {
		border: 2px solid #A5A5AF;
	}

	.setting-wrapper li input[type=radio]:checked ~ .check {
		border: 2px solid #262228;
	}

	.setting-wrapper li input[type=radio]:checked ~ .check::before {
		background: #262228;
	}

	.setting-wrapper li input[type=radio]:checked ~ label {
		color: #262228;
	}
	
}

@supports (--css: variables) and (not (-ms-ime-align: auto)) {
	
	::-webkit-scrollbar-track {
		background-color: var(--sleekgrey);
	}
	
	.print.icon {
		--button-color: var(--forest);
		--main-svg-color: var(--forest);
		--fill-color: transparent;
	}
	
	[tooltip]:after {
		background-color: var(--night);
	}
	
	#load-screen {
		background-color: var(--feather);
	}
	
	#load-text::before {
		border-color: var(--blue);
	}

	#load-text::after {
		border-color: var(--night);
	}
	
	#title-container {
		background-color: var(--night);
		height: var(--title-height);
	}
	
	#left-nav-arrow-wrapper:before, #right-nav-arrow-wrapper:after {
		border-color: var(--night);
	}
	
	#profile-photo-container {
		--profile-ht: 25vh;
		height: var(--profile-ht);
	}

	#profile-photo {
		width: calc(1.0297 * var(--profile-ht));
	}
	
	.icon-card {
		--transition-transform-duration: 0.5s;
		background-color: var(--feather);
		color: var(--forest);
	}
	
	.icon-card:hover {
		--transform-scale: 1.15;
	}
	
	.icon.gear {
		--main-svg-color: var(--forest);
		--fill-color: none;
	}

	.img-icon {
		--img-icon-scale: 40%;
		height: var(--img-icon-scale);
		width: var(--img-icon-scale);
	}

	#nav-container {
		background-color: var(--marine);
	}
	
	.main-nav-link {
		color: var(--night);
	}

	#main-container {
		background-color: var(--sleekgrey);
	}
	
	#main-page {
		top: calc(var(--title-height) + var(--menu-height));
		height: calc(100vh - 2*var(--gap));
		width: 100%;
	}
	
	#arrow-nav-container {
		top: calc(var(--title-height) + var(--menu-height));
	}
	
	#mpc-wrapper {
		background: var(--sleekgrey);
	}

	#main-page-container {
		--page-margin: var(--gap);
		--section-width: calc(100vw - (2*var(--padded) + var(--page-margin)));
		--slide-move: calc(var(--section-width) + var(--page-margin));
		
		--transition-transform-duration: 0.7s;
		--transition-transform-function: ease-in-out;
		
		--added-transition: opacity 1s;
		
		width: calc(2*var(--padded) + var(--num-sections) * (var(--section-width) + var(--gap)));
		background-color: var(--silver);
	}

	@supports (transform: scale(1)) {
		/** Unsupported in Opera Mini extreme **/

		/* Shrinks section(s) that are off the side */
		:target ~ #mpc-wrapper > #main-page-container > .page:not(#welcome-container), 
		#welcome:target ~ #mpc-wrapper > #main-page-container > .page:not(#welcome-container), 
		#resume:target ~ #mpc-wrapper > #main-page-container > .page:not(#resume-container), 
		#education:target ~ #mpc-wrapper > #main-page-container > .page:not(#education-container), 
		#experience:target ~ #mpc-wrapper > #main-page-container > .page:not(#experience-container), 
		#projects:target ~ #mpc-wrapper > #main-page-container > .page:not(#projects-container), 
		#activities:target ~ #mpc-wrapper > #main-page-container > .page:not(#activities-container), 
		#actions:target ~ #mpc-wrapper > #main-page-container > .page:not(#actions-container), 
		#settings:target ~ #mpc-wrapper > #main-page-container > .page:not(#settings-container) {
			--transform-scale: 0.97;
		}

		/* Restores target section to full height */
		:target ~ #mpc-wrapper > #main-page-container > #welcome-container.page, 
		#welcome:target ~ #mpc-wrapper > #main-page-container > #welcome-container.page, 
		#resume:target ~ #mpc-wrapper > #main-page-container > #resume-container.page, 
		#education:target ~ #mpc-wrapper > #main-page-container > #education-container.page, 
		#experience:target ~ #mpc-wrapper > #main-page-container > #experience-container.page, 
		#projects:target ~ #mpc-wrapper > #main-page-container > #projects-container.page, 
		#activities:target ~ #mpc-wrapper > #main-page-container > #activities-container.page, 
		#actions:target ~ #mpc-wrapper > #main-page-container > #actions-container.page, 
		#settings:target ~ #mpc-wrapper > #main-page-container > #settings-container.page { 
			--transform-scale: 1;
		}
	}
	
	.resume-filter-list.filter-list-all {
		border-top: 4px solid var(--sleekgrey);
	}

	.filter-list-item {
		color: var(--forest);
	}

	.filter-list-item:hover {
		border-top: 4px solid var(--forest);
	}

	.resume-filter-list.filter-list-all .filter-list-item {
		color: var(--forest);
	}

	.resume-filter-list.filter-list-all .filter-list-item:hover {
		border-bottom: 4px solid var(--sleekgrey);
	}

	.resume-filter-list .selected.filter-list-item {
		background-color: var(--forest);
	}
	
	.welcome-step-desc:not(.note) {
		color: var(--blue);
	}

	.exp-section-title {
		color: var(--forest);
	}

	.card {
		border: 3px solid var(--marine);
		color: var(--night);
	}
	
	.card-title {
		background-color: var(--marine);
	}
	
	.card.hovering {
		border-color: var(--feather);
		background-color: var(--feather);
	}

	.card.hovering .card-title {
		background-color: var(--feather);
	}
	
	.card-flex-container {
		color: var(--forest);
	}
	
	.collapse-icon-svg {
		--main-svg-color: white;
		--diameter: 1em;
		width: var(--diameter);
		height: var(--diameter);
	}
	
	#reset-default-settings {
		color: var(--night);
		border-top: 4px solid var(--sleekgrey);
	}
	
	.setting-wrapper {
		border-top: 2px solid var(--night);
		border-bottom: 2px solid var(--night);
	}
	
	.setting-wrapper li label{
		color: var(--sleekgrey);
	}
	
	.setting-wrapper li .check {
		border: 2px solid var(--sleekgrey);
	}
	
	.setting-wrapper li input[type=radio]:checked ~ .check {
		border: 2px solid var(--night);
	}

	.setting-wrapper li input[type=radio]:checked ~ .check::before {
		background: var(--night);
	}

	.setting-wrapper li input[type=radio]:checked ~ label {
		color: var(--night);
	}
	
	.transform-translatex {
		/* Used Autoprefixer and last 3 versions (89% coverage) */
		-webkit-transform: translateX( var(--translate-x) );
		-ms-transform: translateX( var(--translate-x) );
		transform: translateX( var(--translate-x) );
	}
	
	.transform-scale {
		/* Used Autoprefixer and last 3 versions (89% coverage) */
		-ms-transform: scale( var(--transform-scale) );
		-webkit-transform: scale( var(--transform-scale) );
		transform: scale( var(--transform-scale) );
	}
	
	.transition-transform {
		/* Used Autoprefixer and last 3 versions (89% coverage) */
		-webkit-transition: -webkit-transform var(--transition-transform-duration) var(--transition-transform-function), var(--added-transition);
		transition: -webkit-transform var(--transition-transform-duration) var(--transition-transform-function), var(--added-transition);
		-o-transition: transform var(--transition-transform-duration) var(--transition-transform-function), var(--added-transition);
		transition: transform var(--transition-transform-duration) var(--transition-transform-function), var(--added-transition);
		transition: transform var(--transition-transform-duration) var(--transition-transform-function), -webkit-transform var(--transition-transform-duration) var(--transition-transform-function), var(--added-transition);
	}
}

@supports (not (transform: translateX(100px))) {
	/** Opera Mini extreme mode using scrolling instead of translation **/

	#main-page-container {
		overflow-x: auto;
	}
	
	#right-nav-arrow-wrapper, #left-nav-arrow-wrapper {
		display: none;
	}
	
	#nav-container {
		display: none;
	}
	
	:target ~ #mpc-wrapper > #main-page-container > .page:not(#welcome-container), 
	#welcome:target ~ #mpc-wrapper > #main-page-container > .page:not(#welcome-container), 
	#resume:target ~ #mpc-wrapper > #main-page-container > .page:not(#resume-container), 
	#education:target ~ #mpc-wrapper > #main-page-container > .page:not(#education-container), 
	#experience:target ~ #mpc-wrapper > #main-page-container > .page:not(#experience-container), 
	#projects:target ~ #mpc-wrapper > #main-page-container > .page:not(#projects-container), 
	#activities:target ~ #mpc-wrapper > #main-page-container > .page:not(#activities-container), 
	#actions:target ~ #mpc-wrapper > #main-page-container > .page:not(#actions-container), 
	#settings:target ~ #mpc-wrapper > #main-page-container > .page:not(#settings-container) {
		opacity: 1;
	}
}


/* Handling IE by informing user that it is unsupported */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	
	#main-container {
		display: none;
	}
	
	#title-container {
		display: block;
	}
	
	#title-container:after {
		display: block;
		color: black;
		content: "This page uses ES6, and does not support Internet Explorer. Please use a different browser.";
	}
}
