/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Istok%20Web');

/* Size dependent styles */
@media screen and (max-width : 800px) {
	/* Small width screens */
	
	#title-container {
		background-image: url("../img/title_background_mobile.svg");
		font-size: 1em;
	}
	
	#title-icon-container {
		margin-bottom: 0.4em;
	}
	
	#title-icon-container .icon {
		width: 20px;
	}
	
	#title-name {
		font-size: 0.75em;
		max-height: 1.2em;
	}

	#help-block {
		height: 100%;
		width: 100%;
	}
	
	.help-link {
		width: 70%;
	}
	
	.section-title {
		margin: 10px 2px 28px 15px;
	}
	
	.section-title.education {
		margin: 10px 2px 21px 15px;
	}
	
	.section-body {
		margin: 10px 2px 15px 5px;
	}
	
	.card {
		margin: 0px 4px -1px 5px;
	}
	
	#filter-menu {
		border-left: 0px !important;
		width: 100%;
	}
	
	.close.icon {
		position: sticky;
		top: 5px;
	}
	
	#menu-block {
		margin-right: 10%;
		margin-bottom: 5%;
	}
}

@media only screen and (min-width : 800px) {
	[tooltip]:hover:after {
		visibility: visible;
		width: auto;
		white-space: nowrap;
	}
	
	#title-container {
		background-image: url("../img/title_background.svg");
		font-size: 2em;
	}
	
	#title-name {
		height: 1.5em;
		max-height: 2em;
		font-size: 1em;
	}
	
	#help-block {
		/* height: 75%; */
		height: auto;
		margin: auto;
		margin-top: 3%;
		/*width: 50%;*/
		width: auto;
	}
	
	.help-link {
		width: 30%;
	}
	
	.section-title, .section-body {
		margin: 10px 10px 24px 20px;
	}
	
	.section-title.education {
		margin: 10px 2px 20px 15px;
	}
	
	.card {
		margin: 0px 20px -1px 15px;
	}
	
	#filter-menu {
		width: 220px;
	}
	
	.filter-menu-item {
		font-size: 0.875em;
	}
}

html, body {
	margin: 0;
}

body {
	font-family: "Arial", sans-serif;
}

::-webkit-scrollbar {
    width: 0.75em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: white;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	background-color: gray;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.icon {
	cursor: pointer;
	cursor: hand;
	vertical-align: middle;
}

.icon:before {
	line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.settings-icon {
	margin-top: 0.3em;
	float: left;
	width: 24px;
}

.settings-icon:before {
	content: url('../img/settings.svg');
}

.settings-icon.show-settings:before {
	content: url('../img/backarrow.svg');
}

.close.icon {
	margin: 0.3em 0.3em 0em 0em;
	float: right;
	font-size: 1.25em;
	width: 1em;
}

.close.icon:before {
	content: url('../img/close.svg');
}

[tooltip] {
	position: relative;
}

[tooltip]:after {
    content: attr(tooltip);
    position: absolute;
	visibility: hidden;
	
	font-size: 14px;
    padding: 8px;
	color: white;
	background-color: darkslategray;
	text-align: center;
	z-index: 999;
    border-radius: 4px;
}

[tooltip]:not([tooltip-persistent]):after {
    pointer-events: none;
}

[tooltip][tooltip-left]:after {
	right: 120%;
}

[tooltip][tooltip-bottom]:after {
	right: 0em;
	top: 150%;
}

[tooltip][tooltip-right]:after {
	left: 120%;
}

.button {
	cursor: pointer;
	border-radius: 2px;
	padding: 0.2em 0.4em 0.2em 0.4em;
	text-align: center;
}

#page-container {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
	/* Flexbox css */
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

#title-container {
	background-size: 50% 150%;
	background-color: #D9ECEC;
	background-position: center center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	font-size: 2em;
	margin: 0em;
	padding: 0.2em 0.5em 0.2em 0.5em;
	
	/* Flexbox parent */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	
	/* Flexbox child */
	flex: 0 0 auto;
}

#title-name {
	font-family: 'Lora', serif;
	margin-right: 20px;
}

#title-icon-container {
	height: 20px;
	font-size: 0.75em;
}

#title-icon-container .icon {
	height: 20px;
}

#title-filter-menu:before, #help-filter-menu:before {
	content: url('../img/filter.svg');
}

#title-goto:before, #help-goto:before {
	content: url('../img/goto.svg');
}

#title-print:before {
	content: url('../img/print.svg');
}

#title-help:before, #help-help:before {
	content: url('../img/help.svg');
}

#title-filter-menu, #title-help, #title-goto, #title-print {
	margin-right: 0.25em;
	width: 1em;
}

#title-link-this, #title-link-print-linkedin {
	display: none;
}

.link-spanner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

#help-container {
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: -1;
}

#help-container.visible {
	z-index: 1000;
}

#help-overlay {
	background-color: white;
	height: 100%;
	left: 0;
	opacity: 0.92;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1001;
}

#help-block {
	background-color: white;
	border: 4px solid black;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 1em;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 12px 20px 12px 20px;
	position: relative;
	z-index: 1010;
}

#help-close-icon {
	font-size: 1.25em;
	float: right;
	position: sticky;
	padding-top: 12px;
	top: 12px;
	right: 0;
	width: 24px;
}

#help-close-icon:before {
	content: url('../img/close_black.svg');
}

#init-help {
	clear: both;
	margin-right: 2em;
	margin-top: 5em;
}

.help-link {
	border: 2px solid teal;
	border-radius: 4px;
	box-shadow: 5px 5px teal;
	cursor: pointer;
	height: 5em;
	line-height: 5em;
	margin: auto;
	margin-top: 25px;
	text-align: center;
}

#main-help {
	clear: both;
	margin-right: 2em;
}

.help-text-title {
	display: block;
	font-weight: bold;
	margin: 4px 0px 8px 0px;
}

.help-text-body {
	display: block;
	margin: 0px 0px 20px 0px;
}

.help.icon {
	display: inline-block;
	margin-right: 10px;
	width: 24px;
}

.help-icon-row {
	display: block;
	margin: 4px 0px 2px 0px;
}

#help-icon-settings:before {
	content: url('../img/settings_help.svg');
}

#help-icon-clear:before {
	content: url('../img/clear_help.svg');
}

#main-container {
	display: flex;
	width: 100%;
	overflow-y: auto;
	
	/* Flexbox child css */
	flex: 1 1 auto;
	
	/* Flex parent css */
	flex-direction: row;
	justify-content: space-between;
	align-content: stretch;
	align-items: stretch;
}

#resume {
	background: linear-gradient(to bottom right, #efeea7 50%, #D9ECEC);
	border-top: 2px solid black;
	overflow-y: auto;
	
	/* Flexbox child css */
	flex: 1 1 auto;
}

.resume-section-container {
	background-color: inherit;
	width: 100%;
}

.exp-org-card {
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 5px;
	width: 95%;
}

.exp-org-card-title {
	display: block;
	color: #1f697d;
	font-weight: bold;
	font-family: 'Istok Web', sans-serif;
	padding: 0px 0px 5px 10px;
}

.card {
	background-color: inherit;
	border-top: 1px solid #2a8da8;
	border-bottom: 1px solid #2a8da8;
	color: black;
	font-size: smaller;
	height: auto;
	overflow: hidden;
	padding: 5px 5px 6px 5px;
	
	width: 95%;
	max-width: 95%;
}

.card:not(.education):last-child {
	border-bottom: 1px solid #2a8da8;
}

.education.card {
	border: 2px solid #2a8da8;
	border-radius: 4px;
	display: inline-block;
	margin-top: 6px;
	width: auto;
	min-width: 275px;
}

.education.card .card-flex-container {
	margin: auto;
}

.education.card span {
	white-space: nowrap;
	font-family: Georgia, serif;
	margin: 4px 0px 4px 0px;
	vertical-align: middle;
}

.education.card span:last-child {
	text-align: right;
}

.education.card .card-row:last-child {
	border-top: 1px solid #2a8da8;
}

.experience.card {
	font-family: 'Roboto', sans-serif;
}

.card-flex-container {
	display: flex;
	height: 100%;

	/* Flex-box parent */
	align-content: center;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: space-evenly;
}

.card-row {
	display: flex;
	width: 100%;
	
	/* Flex-box parent */
	align-content: center;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.education.card span:first-child {
	flex-basis: 70%;
}

.education.card span:last-child {
	flex-basis: 25%;
}

.section-title {
	display: inline-block;
	font-size: 1.25em;
	font-variant: small-caps;
	font-weight: bold;
}

.resume-section.menu {
	display: inline-block;
	margin-left: 10px;
	position: relative;
	width: 16px;
}

.resume-section.menu:before, #help-resume-section-menu:before {
	content: url('../img/menu.svg');
}

.section-menu-lst {
	background-color: inherit;
	border-left: 2px solid black;
	border-top: 0px solid black;
	border-right: 0px solid black;
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(to right, black, lightgray);
	-o-border-image: linear-gradient(to right, black, lightgray);
	border-image-slice: 1;
	-o-border-image-slice: 1;
	position: absolute;
	left: 0.4em;
	top: 1.4em;
	margin: 0;
	padding: 0.2em 0em 0.2em 0em;
	list-style: none;
	color: #333333;
	width: 15em;
}

.section-menu-lst > li {
	background-color: inherit;
	color: gray;
	display: inline;
	font-size: small;
	font-weight: bold;
	padding: 5px 15px 5px 15px;
}

.section-menu-lst > li.selected {
	color: 	black;
	border-top: 2px solid black;
}

.section-menu-lst > li:hover {
	color: 	#778899;
	-moz-box-shadow: 0 0 3px black inset;
	-webkit-box-shadow: 0 0 3px black inset;
	box-shadow: 0 0 3px black inset;
}

.exp-yr {
	display: inline-block;
	font-size: smaller;
}

.exp-desc {
	flex: 1 1 auto;
}

#filter-menu {
	background-color: #2a8da8;
	border-top: 2px solid black;
	border-left: 2px solid black;
	box-sizing: border-box;
	color: white;
	font-family: 'Roboto', sans-serif;
	padding-left: 0.33em;
	
	/* side-nav properties */
	overflow-y: auto;
	overflow-x: hidden;
	
	/* Flex child */
	flex-grow: 0;
	flex-shrink: 0;
}

#side-menu-title.settings {
	margin-bottom: 1.5em;
}

#side-menu-title {
	background-image: url("../img/line_decoration.svg");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100% 95%;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 5px 0px 2px 0px;
	text-align: center;
}

#clear-all-filters {
	background-color: darkslategray;
	border: 2px solid darkslategray;
	box-shadow: 2px 2px darkslategray;
	/*color: #2a8da8;*/
	color: white;
	display: block;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 10px;
}

#menu-block {
	clear: both;
	min-height: 50%;
	overflow: auto;
}

#filter-search {
	padding: 5px 0px 5px 0px;
	text-align: center;
}

#filter-input {
	margin: auto;
	vertical-align: middle;
}

#filter-icon-clear {
	font-size: 1.5em;
	display: inline-block;
	margin-left: 0.2em;
	width: 0.75em;
	vertical-align: middle;
}

#filter-icon-clear:before {
	content: url('../img/clear.svg');
}

.category-name-container {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 3px 0px 3px 0px;
}

.filter-category {
	cursor: pointer;
	cursor: hand;
	margin: 2px 0px 0px 0px;
	padding: 2px 0px 2px 1px;
}

.filter-category-icon {
	display: inline-block;
	width: 0.75em;
}

.filter-category.expanded .filter-category-icon:before {
	content: url('../img/collapse.svg');
}

.filter-category-icon:before {
	content: url('../img/expand.svg');
}

.filter-category-name {
	color: #efed53;
	display: inline-block;
	font-variant: small-caps;
	font-weight: bold;
	margin-left: 0.3em;
	width: 80%;
}

.filter-menu-item {
	margin: 0px;
	border-left: 2px solid transparent;
	padding: 0px 4px 0px 1.2em;
}

.filter-menu-item:hover {
	box-shadow: -10px 0px 20px white inset;
	-moz-box-shadow: -10px 0px 20px white inset;
	-webkit-box-shadow: -10px 0px 20px white inset;
}

.filter-menu-item.selected {
	border-color: white;
}

.setting-wrapper {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	display: block;
	font-size: 1em;
	margin: 5px 0px 2px 0px;
	padding: 10px 0px 15px 0px;
	text-align: left;
}

.setting-wrapper ul {
	list-style: none;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
	overflow: auto;
	width: 100%;
}

.setting-wrapper li {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 30px;
}
.setting-wrapper li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.setting-wrapper li label{
	display: block;
	color: black;
	position: relative;
	font-size: 1em;
	z-index: 3;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
	padding-left: 40px;
	height: 2em;
	line-height: 2em;
}

.setting-wrapper li .check {
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 100%;
	border: 2px solid black;
	height: 17px;
	width: 17px;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.setting-wrapper li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 11px;
	width: 11px;
	top: 3px;
	left: 3px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.setting-wrapper li input[type=radio]:checked ~ .check {
	border: 2px solid white;
}

.setting-wrapper li input[type=radio]:checked ~ .check::before {
	background: white;
}

.setting-wrapper li input[type=radio]:checked ~ label {
	color: white;
}

.settings.heading {
	display: block;
	font-size: 1em;
	margin-bottom: 8px;
}

.radio-wrapper {
	display: block;
}

label.settings {
	font-size: small;
}

.disp-ib {
	display: inline-block;
}

.csr-p {
	cursor: pointer;
	cursor: hand;
}

.clr-gray {
	color: #c0c0c0;
}

.f-w-b {
	font-weight: bold;
}
