<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paul Seebald</title>
	<link rel="icon" type="image/png" href="./img/favicon.ico">
    <link rel="stylesheet" type="text/css" media="print" href="./css/print.css">
	<link rel="stylesheet" type="text/css" media="screen" href="./css/styles.css">
</head>

<body>

<div id="page-container" class="disp-flex">
	<div id="title-container" class="disp-flex">
		<div id="title-name" class="f-w-b">{{ personTitle }}</div>
		<div id="title-icon-container" class="print-only">
			<div id="title-link-this">https://pjseebald.github.io</div>
			<div id="title-link-print-linkedin">https://www.linkedin.com/in/paulseebald</div>
		</div>
	</div>



<div id="main-container" class="disp-flex">

	<nav id="nav-container" :class="{'mobile-hide': mobileHide}" class="no-print">
		<ul id="main-nav" class="disp-flex">
			<nav-item v-for="(s, index) in navSections" 
				:section="s"
				:cursection="currentSection"
				:key="index">
			</nav-item>
		</ul>
	</nav>
		
	
	<div id="main-page" class="disp-flex">
	
		<div id="welcome" class="proxy-anchor"></div>
		<div id="education" class="proxy-anchor"></div>
		<div id="experience" class="proxy-anchor"></div>
		<div id="projects" class="proxy-anchor"></div>
		<div id="activities" class="proxy-anchor"></div>
		<div id="resume" class="proxy-anchor"></div>
		<div id="actions" class="proxy-anchor"></div>
		<div id="settings" class="proxy-anchor"></div>
		
		<div id="mpc-wrapper" class="disp-flex">
			
			<div id="left-nav-arrow-wrapper" class="csr-p no-print" v-show="!beginningSection">
				<a :href="'#' + prevSection" id="left-nav-arrow"></a>
			</div>
			
			<div id="main-page-container" class="transform-translatex transition-transform disp-flex">
				<div id="welcome-container" class="page no-print transform-scale transition-transform">
					<div id="welcome-title">
						<span id="welcome-title-welcome">Welcome to my </span><span id="welcome-title-resume">Interactive Resume</span>
					</div>
					<div id="profile-photo-container" class="disp-flex">
						<img id="profile-photo" src="img\paul_profile.png"></img>
					</div>
					<span id="personal-intro">I am a software engineer with a mechanical engineering background and a passion for finding solutions through code.</span>
					<span id="intro-desc">This <span class="f-w-b">Interactive Resume </span>lets you focus on what you want to see in my resume.</span>
					<div class="welcome-intro disp-flex">
						<ul class="welcome-steps">
							<li><span class="welcome-step-desc note">Go to any section</span> of my resume from the menu.</li>
							<li><span class="welcome-step-desc note">Select any skills or tags</span> that you are interested in.</li>
							<li><span class="welcome-step-desc csr-p" v-on:click="printResume()">Print the resume </span>at any time to PDF or paper!</li>
						</ul>
					</div>
					<h2 class="resume-container-title no-print">FAQ</h2>
					<div id="main-help" class="disp-flex">
						<resume-card v-for="(c, index) in fullHelpTexts"
							:type="'help'" :content=c :key="index">
						</resume-card>
					</div>
				</div>
				<div id="education-container" class="page transform-scale transition-transform">
					<resume-section :type="'education'"></resume-section>
				</div>
				<div id="experience-container" class="page transform-scale transition-transform">
					<resume-section v-for="(exp, index) in fullResume['experience']" :i="index" :type="'experience'" :key="index"></resume-section>
				</div>
				<div id="projects-container" class="page transform-scale transition-transform">
					<resume-section :type="'projects'"></resume-section>
				</div>
				<div id="activities-container" class="page transform-scale transition-transform">
					<resume-section :type="'activities'"></resume-section>
				</div>
				<div id="resume-container" class="page no-print transform-scale transition-transform">
					<resume-section :type="'education'"></resume-section>
					<resume-section v-for="(exp, index) in fullResume['experience']" :i="index" :type="'experience'" :key="index"></resume-section>
					<resume-section :type="'projects'"></resume-section>
					<resume-section :type="'activities'"></resume-section>
				</div>
				<div id="actions-container" class="page no-print transform-scale transition-transform disp-flex">
					<section class="card-container disp-flex">
						<icon-card type="span" spantext="Print Resume" svgid="print" fxn="print" imgsrc=""></icon-card>
						<icon-card type="a" href="#settings" spantext="Settings" svgid="gear" imgsrc=""></icon-card>
						<icon-card type="a" rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/in/paulseebald" spantext="My LinkedIn&trade; Page" svgid="" imgsrc="img/linkedin_logo.png"></icon-card>
					</section>
				</div>
				<div id="settings-container" class="page no-print transform-scale transition-transform">
					<button id="reset-default-settings" class="button" v-on:click="resetDefaultSettings()">Reset Defaults</button>
					<div id="settings-menu-container" class="disp-flex">
						<setting-item v-for="(settingItem, index) in settings" :item="settingItem" :key="index"></setting-item>
					</div>
				</div>

			</div>
			
			<div id="right-nav-arrow-wrapper" class="csr-p no-print" v-show="!endSection">
				<a :href="'#' + nextSection" id="right-nav-arrow" class="csr-p"></a>
			</div>
		</div>
		
	</div>
	
	<div id="mobile-nav-bar" class="no-print disp-flex">
		<div id="mobile-print-icon" class="csr-p" v-on:click="printResume()">
			<svg class="print icon" aria-labelledby="print-svg-title print-svg-desc" role="img">
				<use xlink:href="img/icons.svg#print" id="print-mobile-nav"></use>
			</svg>
		</div>
		<label class="menu-control-btn csr-p" v-on:click="toggleMobileMenu()">&#9776;</label>
		<a rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/in/paulseebald" id="mobile-linkedin-icon" class="csr-p"><img src="img/linkedin_logo.png"></img></a>
	</div>

</div>

</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="./scripts/vue.js"></script>
<script src="./scripts/main.js" type="text/javascript"></script>
</html>
